In [1]:
#필요한 패키지(판다스, 넘피를 import 하고 pd,np로 별명을 만드시오
import pandas as pd
import numpy as np

#### 시리즈  문제

In [3]:
# 연습문제 1
# 임의로 두개의 시리즈 객체를 만든다.
# 모두 문자열 인덱스를가져야 하며 두 시리즈에 공통적으로 포함
# 되지 않는 인덱스(라벨)가 있어야 한다.
# 값과 시리즈 원소 개수도 임의 설정할 것
s_a=pd.Series([4.5,2,3,0],index=['A+','C0','B0','F'])
s_b=pd.Series([3.5,4,1,2.5],index=['B+','A','D','C+'])
print(s_a)
print(s_b)

A+    4.5
C0    2.0
B0    3.0
F     0.0
dtype: float64
B+    3.5
A     4.0
D     1.0
C+    2.5
dtype: float64

In [41]:
#연습문제 2 : 아래 시리즈 객체를 이용하여 사칙연산을 
#수행하고 결과를 출력하시오.
ex_s1 = pd.Series({'국어':95,'영어':80,'수학':75})
ex_s2 = pd.Series({'국어':95,'영어':80,'수학':75})
ex_add=ex_s1+ex_s2
ex_add

국어    190
영어    160
수학    150
dtype: int64

In [42]:
ex_sub=ex_s1-ex_s2
ex_sub

국어    0
영어    0
수학    0
dtype: int64

In [43]:
ex_mul=ex_s1*ex_s2
ex_mul

국어    9025
영어    6400
수학    5625
dtype: int64

In [44]:
ex_div=ex_s1/ex_s2
ex_div

국어    1.0
영어    1.0
수학    1.0
dtype: float64

In [11]:
#연습문제 3 : 아래 두 객체에 대하여 아래 제시된 연산을 수행하시오.
ex_s1 = pd.Series({'국어':95,'영어':80,'수학':75})
ex_s2 = pd.Series({'국어':95,'과학':80,'논술':75})

In [12]:
# - 연산을 수행하고 결과를 설명하시오
ex_s1-ex_s2

# 동일한 인덱스끼리 만 -계산을 수행함, 동일한 인덱스가 존재 하지 않으면 NaN값이 출력

과학    NaN
국어    0.0
논술    NaN
수학    NaN
영어    NaN
dtype: float64

In [29]:
ex_s1.values - ex_s2.values
# 위 연산을 수행했을 때 출력되는 결과를 설명하시오

# 인덱스와 상관없이 시리즈에서 values만 분리했으므로
# 같은 위치인덱스 값 끼리 -연산 수행

array([190, 160, 150], dtype=int64)

In [15]:
# 연습문제 4
# 아래 데이터를 이용해서 시리즈 s를 생성하시오
    # 서울 : 9904312, 부산 : 3448737, 인천 : 2890451  대구 : 2466052    
s=pd.Series([9904312,3448737,2890451,2466052],index=['서울','부산','인천','대구'])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [16]:
# 연습문제 5 :
#시리즈 s 변수의 인덱스를 출력해서 확인하고
#세번째 인덱스의 값을 라벨인덱스로 접근 후 출력하시오.
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [18]:
print(s['인천'])
print(s[2])

2890451
2890451

In [31]:
# 연습문제 6
#시리즈 s에 대하여 라벨(문자)인덱싱을 이용하고
#부산, 인천, 대구의 값을 추출하시오.
s[['부산','인천','대구']]

부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [32]:
# 연습문제 7
#아래 데이터를 이용하여 시리즈를 생성하고 데이터 순서를 서울, 부산, 인천, 대전 으로 설정하시오 - 딕셔너리 활용
#   서울 9631482
#   부산 3393191
#   인천 2632035
#   대전 1490158
dict_city={'서울':9631482,'부산':3393191,'인천':2632035,'대전':1490158}
print(dict_city)
s2=pd.Series(dict_city,index=dict_city.keys())
s2

{'서울': 9631482, '부산': 3393191, '인천': 2632035, '대전': 1490158}

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [33]:
# 연습문제 8
# 위에서 생성한 시리즈에 인구 라는 이름을 설정하시오
s2.name=('인구')
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
Name: 인구, dtype: int64

In [34]:
# 연습문제 9
# 위에서 생성한 시리즈의 인구수가 3000000 이상인 도시를 출력하시오
s2[s2>=3000000]

서울    9631482
부산    3393191
Name: 인구, dtype: int64

In [35]:
# 연습문제 10
# 위에서 생성한 시리즈의 서울 데이터를 11000000 으로 변경하세요
s2['서울']=11000000
s2

서울    11000000
부산     3393191
인천     2632035
대전     1490158
Name: 인구, dtype: int64

In [36]:
# 연습문제 11
# 대전 데이터를 삭제하세요
del s2['대전']
s2

서울    11000000
부산     3393191
인천     2632035
Name: 인구, dtype: int64

In [38]:
# 연습문제 12 
# 대구 데이터가 있는지 확인 하세요
s2['대구']
# 존재하지 않음 (key error)

KeyError: '대구'